[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dep/physx"]
	path = dep/physx
	url = https://github.com/manjot-b/PhysX.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dep/openal"]
	path = dep/openal
	url = https://github.com/kcat/openal-soft.git
[submodule "dep/ftgl"]
	path = dep/ftgl
	url = https://github.com/frankheckenbach/ftgl.git
[submodule "dep/freetype-windows-binaries"]
	path = dep/freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
